<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770138586262-0i26jfs9p771e614bobhgse90muqkd2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770138586262-0i26jfs9p771e614bobhgse90muqkd2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>770138586262-2vg2b0bchsvmehdk3jq6ppa5usd7i3cj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbBEL6rY0Mwqvw5A_DQt8l7PqKY-jqqnY</string>
	<key>GCM_SENDER_ID</key>
	<string>770138586262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freshpick.freshkeep</string>
	<key>PROJECT_ID</key>
	<string>freshkeep-db</string>
	<key>STORAGE_BUCKET</key>
	<string>freshkeep-db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770138586262:ios:c102f01a707ed01f2996b7</string>
</dict>
</plist>